<%= form_for(@build) do |f| %>
  <% if @build.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@build.errors.count, "error") %> prohibited this build from being saved:</h2>

      <ul>
      <% @build.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <h3> SPECIAL Stats </h3>
  <%= f.fields_for :special_stats do |ff| %>
      <%= ff.text_field :name %>
      <div class="field">
        <%= ff.label :level %><br>
        <%= ff.text_area :level %>
      </div>
  <% end %>

  <h3> Perks </h3>
  <%= f.fields_for :perks do |ff| %>
      <%= ff.text_field :name %>
      <div class="field">
        <%= ff.label :current_rank %><br>
        <%= ff.text_area :current_rank %>
      </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
